<!DOCTYPE html>
<html lang="en">
<head>
    {{>link}}
</head>
<body>
  {{>navbar}}


  <div class="container-fluid main_haeder">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="undraw_collection_u2np.png" alt="" class="img-fluid " title="mathur">
                </figure>
            </div>
          <div class="col-md-6 col-12 main_header_left">
            <p>I am A <span class="text_clr">Mern Stack Developer</span></p>
            <h1>Get The Latest <span> Weather </span></h1>
            <a href=""><button>check now</button></a>
          </div>
          
        </div>

      </div> 
    </div>
  </div>


  <footer>
    <p> Created with love by Ayush Mathur</p>
  </footer>
</body>
</html>