<!DOCTYPE html>
<html lang="en">
<head>
  {{>link}}
</head>
<body>
  {{>navbar}}

  <div class="container-fluid main_haeder">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
         <div class="main_content">
             <form class = 'temp_form'>
                 <input type="text" id="cityname" placeholder="Enter your city name" autocomplete="off">
                 <input type="submit" value="search" id="submitbtn">
             </form>

         </div>
         <div class="tempinfo">
             <div class="top_layer">
                 <p id="day">Thursday</p>
                 <p id="today_date"> 24 jun</p>
             </div>
             <div class="main_layer ">
                 <p id="city_name">Get output here</p>
                 <div class="middle_layer data_hide">
                     <p id="temp"><span id="tempreal">0</span> <sup>0</sup>C</p>
                     <p id="temp_status"> <i class="fa fa-cloud" aria-hidden="true"></i></p>
                 </div>
             </div>
         </div>
      </div>
    </div>
  </div>


  <footer>
    <p> Created with love by Ayush Mathur</p>
  </footer>
  <script src="js/main.js"></script>
  <script>
    const curDate =document.getElementById('today_date');
     
      const getCurrentDay = () => {
           var weekday = new Array(7);
           weekday[0] = "Sunday";
           weekday[1] = "Monday";
           weekday[2] = "Tue";
           weekday[3] = "Wed";
           weekday[4] = "Thursday";
           weekday[5] = "Friday";
           weekday[6] = "Saturday";
   
           let currentTime = new Date();
           days = weekday[currentTime.getDay()];
           const day = document.getElementById('day')
           day.innerText = days;
         };

      getCurrentDay();
 

      const getCurrentTime = () => {
        var months = [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "June",
          "July",
          "Aug",
          "Sept",
          "Oct",
          "Nov",
          "Dec",
        ];

        var now = new Date();
        var month = months[now.getMonth() + 1];
        var date = now.getDate(); 
        return `${month} ${date}`;
      };
      curDate.innerHTML = getCurrentTime();
  </script>

</body>
</html>